<div class="list-group mb-3">
    <a asp-controller="Account" asp-action="EditUser" class="list-group-item list-group-item-action">
        Kullanıcı Bilgileri
    </a>
    <a asp-controller="Account" asp-action="UserEdit" class="list-group-item list-group-item-action">
        Adres Bilgileri
    </a>
    <a asp-controller="Order" asp-action="OrderList" class="list-group-item list-group-item-action">
        Siparişler
    </a>
    <a asp-controller="Account" asp-action="ChangePassword" class="list-group-item list-group-item-action">
        Parola Değiştir
    </a>
</div>