<section class="top-bar">
    <div class="container">
        <div class="row gy-2 align-items-center">
            <div class="col-lg-2 col-sm-4 col-4">
                <a href="/" class="navbar-brand"><i class="fa-solid fa-truck-fast"></i> E-Commerce</a>
            </div>

            <div class="col-lg-5 col-sm-8 col-8 order-lg-last">
                <div class="text-end">

                    @if (User.Identity?.IsAuthenticated == true)
                    {
                        @if (User.IsInRole("Admin"))
                        {
                            <a asp-controller="Admin" asp-action="Index" class="btn btn-danger" target="_blank">
                                <i class="fa-solid fa-lock"></i> <span class="ms-1 d-none d-sm-inline-block">Admin</span>
                            </a>
                        }

                        <a asp-controller="Account" asp-action="EditUser" class="btn btn-light">
                            <i class="fa fa-user"></i> <span class="ms-1 d-none d-sm-inline-block">Hesabım</span>
                        </a>
                        <a asp-controller="Account" asp-action="LogOut" class="btn btn-light">
                            <i class="fa fa-heart"></i> <span class="ms-1 d-none d-sm-inline-block">Çıkış</span>
                        </a>
                    }
                    else
                    {
                        <a asp-controller="Account" asp-action="Login" class="btn btn-light">
                            <i class="fa-solid fa-right-to-bracket"></i> <span
                                class="ms-1 d-none d-sm-inline-block">Giriş</span>
                        </a>
                        <a asp-controller="Account" asp-action="Create" class="btn btn-light">
                            <i class="fa-solid fa-user-plus"></i> <span class="ms-1 d-none d-sm-inline-block">Üye Ol</span>
                        </a>
                    }

                    <a asp-controller="Cart" asp-action="Index" class="btn btn-light">
                        <i class="fa fa-shopping-cart"></i> <span class="ms-1 d-none d-sm-inline-block">Sepetim</span>
                    </a>

                </div>
            </div>
            <div class="col-lg-5">
                <form asp-controller="Urun" asp-action="List" method="get">
                    <div class="input-group">
                        <input name="q" type="text" placeholder="Anahtar kelime" class="form-control"
                            value="@ViewData["q"]">
                        <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>