@model SliderEditModel
@{
    Layout = "_AdminLayout";
}

<div class="row">
    <div class="col">
        <div class="card shadow">
            <div class="card-header py-1 d-flex justify-content-between align-items-center">
                <h5 class="card-title">Slider Güncelle</h5>
                <a asp-action="Index" class="btn btn-sm btn-primary">
                    <i class="fa-solid fa-list"></i>
                </a>
            </div>
            <div class="card-body">
                <form method="post" enctype="multipart/form-data">
                    <input type="hidden" name="Id" value="@Model.Id">
                    <input type="hidden" name="ResimAdi" value="@Model.ResimAdi">
                    <div class="row mb-3">
                        <label for="SliderResmi" class="col-sm-2 col-form-label">Mevcut Resim</label>
                        <div class="col-sm-10">
                            <img src="~/img/@Model.ResimAdi" alt="" class="img-fluid rounded">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label asp-for="Baslik" class="col-sm-2 col-form-label"></label>
                        <div class="col-sm-10">
                            <input asp-for="Baslik" class="form-control">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label asp-for="Aciklama" class="col-sm-2 col-form-label"></label>
                        <div class="col-sm-10">
                            <textarea asp-for="Aciklama" rows="3" class="form-control"></textarea>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label asp-for="Resim" class="col-sm-2 col-form-label"></label>
                        <div class="col-sm-10">
                            <input asp-for="Resim" class="form-control">
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label asp-for="Index" class="col-sm-2 col-form-label"></label>
                        <div class="col-sm-10">
                            <input asp-for="Index" class="form-control">
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label asp-for="Aktif" class="col-sm-2 col-form-label"></label>
                        <div class="col-sm-10">
                            <input asp-for="Aktif" class="form-check-input">
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-sm-10 offset-sm-2">
                            <button type="submit" class="btn btn-primary">Kaydet</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>