<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.0/css/all.min.css" />
    <link rel="stylesheet" href="~/css/site.css">
    <title>E-Commerce</title>
</head>

<body class="bg-light">

    <header>
        @await Html.PartialAsync("Partials/Admin/_Message")
        @await Html.PartialAsync("Partials/Site/_Topbar")
        @RenderSection("Bar", required: false)
    </header>

    <main>
        @RenderBody()
    </main>

    @await Html.PartialAsync("Partials/Site/_Footer")

    <script src="~/js/fslightbox.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.bundle.min.js"></script>
</body>

</html>