@section Bar {
    <section class="bg-primary p-3">
        <div class="container">
            <nav>
                <ol class="breadcrumb mb-0">
                    <li class="breadcrumb-item">
                        <a href="#">Anasayfa</a>
                    </li>
                    <li class="breadcrumb-item">
                        Yetkisiz Erişim
                    </li>
                </ol>
            </nav>
        </div>
    </section>
}

<section class="mt-3">
    <div class="container">
        <div class="alert alert-danger">Yetki gerektiren bir kaynak</div>
    </div>
</section>